/*---ALL---*/


/* couleur : 0ebfdd
             63b7d3*/

/*gris : d3d3d3 */

/*font-family: 'Abel', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif;*/

/*--- ALL ---*/

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.11);

}

.error{
    color: red;
    text-align: center;
}

.bottom-error{
    padding: 0 3px;
    text-align: center;
}

hr {
    width: 100%;
}


a{
    text-decoration: none;
    color: #bcbcbc;
}

a:hover{
    color: #9b9b9b;
}

.message p{
    text-align: center;
}

input{
    border: 1px solid #0ebfdd;
}

.button, input[type=submit] {
    border:1px solid #0ebfdd;
    color:#0ebfdd;
    font-size:15px;
    font-weight: 600;
    text-decoration: none;
    padding:6px 15px;
    background-color: white;
}
.button:hover, input[type=submit]:hover{
    background-color:#0ebfdd;
    color: #ffffff;
}
/*form*/

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

textarea{
    width: 100%;
    height: 400px;
}

.author input{
    width: 250px;
}

.title input{
    width: 600px;
}

/*--- HEADER ---*/

/*nav*/

.nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav li{
    display: inline;
    padding: 16px 20px;
}

nav ul{
    text-align: center;
    padding: 0;
}

.nav div {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.1);
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 2.2em;
    margin: 16px 0;
    text-align: center;
    color: #0ebfdd;
    font-weight: 200;
}

/*img*/

.sizeBlog img{
    width: 100%;
}

/*--- DIV PAGE ---*/

.page, .adminPage{
    display: flex;
    flex-direction: column;
}

/*--- SECTION 1 ---*/

#section1{
    background-color: rgba(211, 211, 211, 0.11);
}

.article{
    padding: 1px 12px 35px 12px;
    background-color: white;
    margin-bottom: 20px;
}

.article a p{
    color: rgba(0,0,0,0.4);
    margin: 26px 0;
}

.oneArticle{
    padding: 1px 12px 35px 12px;
    background-color: white;

}

.oneArticle h2{
    color: #bcbcbc;
}

h2{
    font-weight: 400;
}

/*--- SECTION 2 ---*/

#section2{
    background-color: rgba(211, 211, 211, 0.28);
    padding-bottom: 15px;
    padding-right: 14px;
    padding-left: 14px;
}

.portrait{
    width: 100%;

}

.login-bio{
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    padding-top: 23px;
    margin-top: 0;
}

.biography{
    padding: 0 12px;
}

/* Comment */

.comment{
    background-color: white;
    margin-bottom: 24px;
    padding: 3px 12px;
}

.span_comment{
    color: rgba(0, 0, 0, 0.21);
}

.editAdmin{
    font-size: 0.8em;
    margin-top: 20px;
    color: #4CAF50;
}

.author_comment{
    color: #0ebfdd;
}

/*--- FORM ---*/

.contact{
    background-color: #ffffff;
}

/*--- LOGIN ---*/

.textarea{
    width: 90%;
}

.login{
    background-color: #ffffff;
}

.login div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px
}

.login div label, .login div input{
    margin: 0 0;
    width: 250px;
}

.login .button{
    align-self: center;
    width: 120px;
    margin-top: 35px;
}

.offlineComment{
    height: 115px;
    padding: 1px 20px;
    background-color: rgba(211, 211, 211, 0.31);
}

.buttonNewArticle{
    padding: 25px 10px 23px 10px;
    background-color: rgba(211, 211, 211, 0.24);
    text-align: center;
}

.e-mail{
    color: black;
}

.buttonAdmin .new,.buttonAdmin .online,.buttonAdmin .editComment,.buttonAdmin .addComment{
    padding: 25px 0;
}

.new, .online, .editComment, .addComment, .biographie p{
    padding: 14px 0;
}

.delete a{
    color: rgba(255, 0, 0, 0.63);
    border-color: rgba(255, 0, 0, 0.41);
}

.delete a:hover{
    color: rgba(255, 255, 255, 0.63);
    border-color: rgba(255, 0, 0, 0.41);
    background-color: rgba(255, 0, 0, 0.63);
}

.comment .delete{
    padding-top: 11px;
    padding-bottom: 14px;
}

.wait{
    padding: 0px 12px 16px 12px;
    color: rgba(52, 158, 52, 0.81);
    background-color: white;
}

.editBiography{
    text-align: center;
}

/*--- COMMENT ---*/

.allComment{
    padding-top: 20px;
}

.grey{
    color: #808080;
}


.allComment div:last-child{
    margin-bottom: 0;
}

/*--- delete ---*/

.confirmDelete{
    min-height: 400px;
    width: 100%;
    max-width: 1000px;
    background-color: white;
}

.confirmDelete .buttonAdmin{
    display: flex;
    justify-content: space-around;
}


/*--- FOOTER ---*/

footer{
    background-color: #d3d3d3;
    padding: 10px;
    font-size: 0.8em;
}

footer a{
    color: #000000;
}

/*--- NEW COMMENT ---*/

.author{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.email, .name, .object{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    margin-bottom: 10px;
    text-align: center;
}

.email input, .name input{
    width: 250px;
}

.email{
    width: 250px;
}

.object input{
    width: 300px;
}

.newComment label{
    margin: 11px 0;
}


form .button{
    margin: 35px 0;
}

.mLegal{
    background-color: white;
    max-width:1000px;
    margin: auto;
    padding: 12px 8px;
}

.mLegal a{
    color: black;
}


/*--- MEDIA QUERIES ---*/

@media (min-width: 424px){
    .portrait{
        width: 90%;
    }
    #section2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 767px){
    .portrait{
        width: auto;
        height:350px;
    }
    #section2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1000px){
    /*- DIV PAGE -*/
    .sizeBlog img{
        max-width: 1020px;
        width: auto;
    }
    #section1{
        width: 700px;
        text-align: justify;
    }
    .portrait{
        width: 300px;
        height: auto;
    }
    #section2{
        width: 300px;
    }
    .page{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(211, 211, 211, 0.11);
    }
    .action #section2{
        width: 1000px;
        margin: auto;
    }
    .action {
        background-color: rgba(211, 211, 211, 0.11);
    }
    .adminPage{
        align-items: center;
        background-color: rgba(211,211,211,0.11);
    }
    .offlineComment{
        text-align: center;
        padding: 0;
    }
    .wait{
        background-color: white;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 25px;
        padding-top: 12px;
    }
    .oneArticle{
        max-width: 1000px;
        margin: auto;
        margin-bottom: 3px;
    }
    .comment{
        max-width: 1000px;
        margin: auto;
        margin-bottom: 19px;
    }
    .textarea{
        width: 50%;
    }
    .adminPage .comment, .adminPage .offlineComment, .adminPage #section2,.adminPage .oneArticle, .adminPage #section1, .adminPage form{
        width: 1000px;
    }
    .adminPage .title{
        padding: 35px 0;
    }
}
